.main-doc {
  margin-left: 310px;
  padding: 20px;
}

.main-doc header {
  text-align: left;
  margin: 0px;
}

section article {
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}